<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contacte - Clinica Podologica Voet
        include ../templates/imports.pug
        link(rel="stylesheet", href="css/contacte/style.css")
        script(src='https://smtpjs.com/v3/smtp.js')

    body
        include ../templates/navbar.pug

        - var img_name = "car3.jpeg"
        - var header_title = "CONTACTE"
        include ../templates/header.pug

        .container.form
            .row
                .col
                    .form-in
                        .row
                            .col
                                input.form-control#ipt-name(type="text", placeholder="Nom*")
                                br
                            .col
                                input.form-control#ipt-mail(type="text", placeholder="Email*")
                                br
                            .col
                                input.form-control#ipt-tlf(type="text", placeholder="Telèfon")
                                br
                        .row
                            .col
                                input.form-control#ipt-subject(type="text", placeholder="Assumpte*")
                                br
                        .row
                            .col
                                textarea.form-control#msg(name="Caca", cols="30", rows="10", placeholder="Missatge*")
                                br
                                button.btn.btn-primary.btn-def(onclick="buttonSend()") Enviar
        br
        .container
            .row
                .col
                    button.btn.btn-primary.collapsed#btn-open-col-mail(data-toggle="collapse", data-target="#col-mail", hidden, aria-expanded="false")
                    .collapse#col-mail
                        .alert.alert-success#email-alert Missatge enviat correctament

                    button.btn.btn-primary.collapsed#btn-open-col-min(data-toggle="collapse", data-target="#col-min", hidden, aria-expanded="false")
                    .collapse#col-min
                        .alert.alert-danger#min-alert Ha d'omplir els camps obligatoris (*)

        include ../templates/contacte.pug

        include ../templates/footer.pug

        script.
            function buttonSend() {
                let data =  {
                    subject: $("#ipt-subject").val(),
                    body: $("#msg").val(),
                    telf: $("#ipt-tlf").val(),
                    name: $("#ipt-name").val(),
                    mail: $("#ipt-mail").val()

                }
                if(form_min(data)) {
                    sendEmail(data);
                } else {
                    showAlertMin();
                    setTimeout(showAlertMin, 3000);
                }
            }

            function sendEmail(data) {
                alert("Caca")
                return;
                Email.send({
                    SecureToken: "5082fa1c-f21e-4f99-adf8-d9b80a9bad74",
                    To : "clinicapodologicavoet@gmail.com" /*'clinicapodologicavoet@gmail.com'*/,
                    From : "rogeresteve30@gmail.com",
                    Subject : data.subject,
                    Body : "Nom: " + data.name + "<br>" + "Email: " + data.mail + "<br>" + "Telefon: " + data.telf + "<br><br>" + data.body.replace("\n", "<br>"),
                }).then(
                    message => {
                        console.log(message);
                        showAlertMail();
                        setTimeout(showAlertMail, 3000);
                    }
                );
            }

            function form_min(data) {
                if(data.name == "" || data.mail == "" ||data.telf == "" ||data.subject == "") return false;
                return true;
            }

            function showAlertMail() {
                $("#btn-open-col-mail").click();
            }

            function showAlertMin() {
                $("#btn-open-col-min").click();
            }
