<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contacte - Clinica Podologica Voet
        include ../templates/imports.pug
        link(rel="stylesheet", href="css/laclinica/style.css")
        script(src='https://smtpjs.com/v3/smtp.js')

    body
        include ../templates/navbar.pug

        - var img_name = "DSC_1640-6.jpg"
        - var header_title = "LA CLÍNICA"
        include ../templates/header.pug


        .container-fluid.car
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    - var i = 0
                    each val in files
                        li(data-target='#carouselExampleIndicators', data-slide-to=i)
                            img(src='img/laclinica/' + val)
                        - i++
                .carousel-inner
                    - var first = 1
                    each val in files
                        if first === 1
                            .carousel-item.active
                                img.d-block.w-100(src='img/laclinica/' + val)
                            - first = 0
                        else
                            .carousel-item
                                img.d-block.w-100(src='img/laclinica/' + val)

                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
     
        include ../templates/footer.pug