<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Clínica Podològica Voet
        include templates/imports.pug
        link(rel="stylesheet", href="css/style.css")

        //<!-- Global site tag (gtag.js) - Google Analytics -->
        script.
            async src="https://www.googletagmanager.com/gtag/js?id=G-PNF3RGVYTN"
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PNF3RGVYTN');
    body
        include templates/navbar.pug

        .container-fluid.car
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='img/home/car0.jpg')
                    .carousel-item
                        img.d-block.w-100(src='img/home/car1.jpg')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
        br
        br
        .container
            .row
                .col-lg
                    h3 Clínica Podològica <span class="title_bold" style="color: var(--main-color)">VOET</span>
                    br
                    p El podòleg és un professional de la branca sanitària titulat que ofereix la cura integral dels peus. Diagnostica, i tracta les diferents patologies, alteracions i malalties dels peus o bé treballant de manera conjunta amb altres especialitats mèdiques.
                    p Sóc la Clàudia Calveres, podòloga graduada per la Universitat de Barcelona amb el número de col·legiat 1807. A finals de 2017 amb totes les ganes i tota la i·lusió vaig iniciar aquest projecte a la Roca del Vallès, per oferir el servei de podologia que fins ara no hi era al poble. A la Clínica podologia VOET treballem per a la salut dels nostres pacients, dedicant-nos a diferents àmbits de la podologia i així poder oferir una millor atenció a cada un dels nostres pacients.
                    br
                    br
                    p <b>Vols saber-n’he més?</b> 
                    span Consulta els serveis i especialitats que oferim a la web.
                    br
                    p T’animo a seguir-nos a les xarxes socials per no perdre’t res i estar informat de les últimes novetats.
                    
                .col-lg.text-center
                    img(src="img/home/ego.jpg" width="75%" height="100%")

        include templates/contacte.pug

        include templates/footer.pug