style(type="text/css").
    nav {
        background-color: rgb(240, 240, 240);
    }

    .nav-link {
        color: black;
    }

    #navbar-logo {
        width: 150px;
    }


.container
    .row
        .col
            nav.navbar.navbar-expand-lg.navbar-nav
                img.navbar-brand#navbar-logo(src="img/logo0.png")
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon#navbarSupportedContent.collapse.navbar-collapse
                
                .collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href='/') <span style="color: var(--main-color)"> INICI </span>
                        li.nav-item.active
                            a.nav-link(href='/serveis') SERVEIS
                        li.nav-item.active
                            a.nav-link(href='/contacte') CONTACTE