<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Serveis - Clinica Podologica Voet
        include ../templates/imports.pug
        link(rel="stylesheet", href="css/serveis/style.css")

        //<!-- Global site tag (gtag.js) - Google Analytics -->
        script.
            async src="https://www.googletagmanager.com/gtag/js?id=G-PNF3RGVYTN"
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PNF3RGVYTN');
    body
        include ../templates/navbar.pug

        - var img_name = "headers/serveis.jpg"
        - var header_title = "SERVEIS"
        include ../templates/header.pug

        .container-fluid
            .container.section.tractaments
                .header
                    h1 Els <span class="title_bold" style="color: var(--main-color)">serveis</span>

                .elements
                    .container
                        .row
                            .col-lg-4.element
                                h4 <span class="title_bold" style="color: var(--main-color)">Quiropòdia</span>
                                p Tractament podològic que consisteix en l’eliminació de callositats (durícies, ulls de poll…)i tractament d’alteracions d’ungles (ungles clavades, ungles engrossides) i de la pell (berrugues, fongs…).
                            .col-lg-4.element
                                h4 <span class="title_bold" style="color: var(--main-color)">Estudi biomecànic</span>  i de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                            .col-lg-4.element
                                h4 <span class="title_bold" style="color: var(--main-color)">Plantilles</span>  personalitzades
                                p Les nostres plantilles son 100% personalitzades i adaptades a cada cas y cada pacient. L’estudi biomecànic ens permetrà conèixer les patologies i necessitats del cada pacient per elegir el material i tractament més adequat per a realitzar els suports plantars.
                        .row
                            .col-lg-4.element
                                h4 <span class="title_bold" style="color: var(--main-color)">Ortesi</span>  de silicona
                                p Realitzades a mida per corregir patologies d’avantpeu i alteració o petites malformacions digitals.
                            .col-lg-4.element
                                h4 Atenció <span class="title_bold" style="color: var(--main-color)">a domicili</span>
                                p Aquest servei està dirigit a aquelles persones, que per motiu de salut, edat, dependència o discapacitat tenen limitada la seva autonomia i no poden acudir al centre.
                            .col-lg-4.element
                                h4 <span class="title_bold" style="color: var(--main-color)">Reconstrucció</span>  unguial

        .container-fluid.esp-bg
            .container.section.especialitats
                .header
                    h1 Les <span class="title_bold" style="color: var(--main-color)">especialitats</span>

                .elements
                    .container
                        .row
                            .col-lg-3.element
                                h4 <span class="title_bold" style="color: var(--main-color)">Peu diabètic</span>  (CAT SALUT)
                                p Els pacients diabètics, poden desenvolupar úlceres o altres patologies associades La complicació d’aquestes lesions sol ser la primera causa de ingrés hospitalària i la possibilitat d’amputacions. Per això tenim conveni amb el CAT SALUT per poder portar un millor seguiment del peu diabètic i evitar així aquestes complicacions.
                            .col-lg-3.element
                                h4 Podologia <span class="title_bold" style="color: var(--main-color)">pediàtrica</span>
                                p La detecció precoç de qualsevol deformitat o patologia es imprescindible per poder corregir, disminuir-la al màxim o minimitzar les conseqüències. Per això és importat fer una revisió a partir dels 3-4 anys per poder diagnosticar i tractar les diferents patologies abans que les lleis ósses actuïn.
                            .col-lg-3.element
                                h4 Podologia <span class="title_bold" style="color: var(--main-color)">geriàtrica</span>
                                p Ajudem a tractar o minimitzar les patologies o lesions que provoca el temps als peus de la gent gran, que en moltes ocasiones els pot limitar la seva activitat física.
                            .col-lg-3.element
                                h4 Podologia <span class="title_bold" style="color: var(--main-color)">esportiva</span> 
                                p Cada esport, categoria i esportista té unes necessitats específiques. 
                                p La prevenció de lesions va lligat a un millor rendiment esportiu, per això recomanem un estudi de la petjada abans de que hi hagi cap lesió.

        include ../templates/footer.pug