<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Serveis - Clinica Podologica Voet
        include ../templates/imports.pug
        link(rel="stylesheet", href="css/serveis/style.css")
    body
        include ../templates/navbar.pug

        - var img_name = "car2.jpeg"
        - var header_title = "SERVEIS"
        include ../templates/header.pug

        .container.section.tractaments
            .header
                h1 Els <span style="color: var(--main-color)">tractaments</span>

            .elements
                .container
                    .row
                        .col.element
                            h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                            p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                        .col.element
                            h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                            p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                        .col.element
                            h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                            p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                    .row
                        .col.element
                            h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                            p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                        .col.element
                            h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                            p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                        .col.element
                            h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                            p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.

        .container-fluid.esp-bg
            .container.section.especialitats
                .header
                    h1 Les <span style="color: var(--main-color)">especialitats</span>

                .elements
                    .container
                        .row
                            .col.element
                                h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                            .col.element
                                h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                            .col.element
                                h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                        .row
                            .col.element
                                h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                            .col.element
                                h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
                            .col.element
                                h4 <span style="color: var(--main-color)">Exploració biomecànica</span> de la marxa
                                p La biomecànica és un estudi del moviment i de les diferents forces que actuen en el nostre cos i la relació que hi ha amb les possibles patologies o alteracions.
            

        include ../templates/footer.pug